<!-- Main navigation -->
<header id="top-section">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a role="button" tabindex="0" class="logo navbar-brand waves-light" mdbWavesEffect href="#"> <img loading="lazy" src="/assets/images/author.webp" class="rounded-circle" height="30" alt="autho's image navbar"></a>
    </mdb-navbar-brand>
    <links class="font-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" mdbPageScroll aria-label="Go to the top" routerLink="" href="#top-section" [pageScrollDuration]="500">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" mdbPageScroll routerLink="" [pageScrollOffset]="40" [pageScrollDuration]="1000" href="#contact">Contact</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#projects" mdbPageScroll routerLink="" data-wow-delay="0.3s" [pageScrollOffset]="40" [pageScrollDuration]="500">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="https://drive.google.com/file/d/1I72ZXE1X6ws7AnKHaSMO7sI9pHx_kUWm/view?usp=sharing">
            Resume
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Full Page Intro -->
  <div class="view jarallax header-wrapper">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center header-component">
      <div class="header-component__inner text-center">
        <h1 class="h1-reponsive white-text text-uppercase mb-0 pt-md-5 pt-5 wow fadeInUp bold display-4" data-wow-delay="0.3s">
          SALMAN <span class="cyan-text">MUJTABA</span></h1>
        <hr class="hr-light my-4">
        <h5 class="text-uppercase mb-4 white-text wow fadeInUp" data-wow-delay="1.3s"><strong>Full Stack Web
            Developer</strong></h5>
      </div>
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->