.font-links {
  font-size: 1rem;
}

:host header {
  .view {
    min-height: 100vh !important;
    @media (max-width: 740px) {
      height: 100vh;
    }
  }
}

.header-collapsed-navbar {
  @media (max-width: 992px) {
    visibility: hidden;
  }
}

.header-wrapper {
  background-image: url('../../assets/images/about_me.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-component {
  display: grid !important;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  height: 100vh;
  grid-template-rows: repeat(10, 1fr);
  &__inner {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    grid-row: 3/4;
    grid-column: 2/10;
    color: white;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
  }
}