<!--Author box-->
<div class="author-box container changeMargin wow fadeInLeft" data-wow-delay="0.4s" id="about">
  <!--Name-->
  <h3 class="h3-responsive text-center bold">About Me</h3>
  <hr>
  <div class="row">
    <!--Avatar-->
    <div class="col-12 col-sm-2">
      <img src="/assets/images/author.webp" class="img-fluid rounded-circle z-depth-2" alt="Author's Image">
    </div>
    <!--Author Data-->
    <div class=" col-12 col-sm-10">
      <h4>Salman Mujtaba</h4>
      <div class="personal-sm">
        <a mdbPageScroll aria-label="Go to the top" [pageScrollDuration]="500" href="#top-section" mdbTooltip="Home" placement="bottom"
          class="icons-sm email-ic mr-8 grow">
          <mdb-icon class="grow" fas icon="home"></mdb-icon>
        </a>
        <a (click)="goToGithub()" type="button" color="git" mdbTooltip="Navigate to Github" placement="bottom"
          class="icons-sm mr-8 git-ic">
          <mdb-icon class="grow" fab icon="github"></mdb-icon>
        </a>
        <a type="button" (click)="goToFacebook()" mdbTooltip="Navigate to Facebook" placement="bottom"
          class="icons-sm mr-8 fb-ic">
          <mdb-icon class="grow" fab icon="facebook-f"></mdb-icon>
        </a>
        <a type="button" (click)="goToTwitter()" mdbTooltip="Navigate to Twitter" placement="bottom"
          class="icons-sm mr-8 tw-ic">
          <mdb-icon class="grow" fab icon="twitter"></mdb-icon>
        </a>
        <a (click)="goToLinkedIn()" type="button" mdbTooltip="Navigate to LinkedIn" placement="bottom"
          class="icons-sm mr-8 li-ic">
          <mdb-icon class="grow" fab icon="linkedin-in"></mdb-icon>
        </a>
        <a mdbPageScroll [pageScrollOffset]="40" [pageScrollDuration]="500" href="#contact" type="button"
          mdbTooltip="Navigate to Contact Section" placement="bottom" class="icons-sm email-ic">
          <mdb-icon class="grow" fas icon="envelope"></mdb-icon>
        </a>

      </div>
      <p>I am an ebullient Full-Stack Developer who has a knack of learning new things.
        I love to work on latest technologies and build applications which
        hold significane in the fast moving world.
        I have approximately 5 years of industry experience,
        a Master's Degree from UNC Charlotte and a few git projects to boast about. When I am not working, you
        will find me playing Cricket, watching football games or playing Fifa (made 9m coins in 5 months of FUT 21) on
        Xbox.
        <br>In an amazing series of events, I moved from the USA to Canada and got engaged to my love all within 1 month.
      </p>
      <p>This website has been updated to use Material Design and Angular 10.</p>
    </div>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col">
        <mdb-simple-chart percent="95" barColor="76ff03" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
        <h5>
          <mdb-badge color="light-green accent-3">Angular 2+</mdb-badge>
        </h5>
      </div>
      <div class="col">
        <mdb-simple-chart percent="95" barColor="827717" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
        <h5>
          <mdb-badge color="lime darken-4">JavaScript</mdb-badge>
        </h5>
      </div>
      <div class="col">
        <mdb-simple-chart percent="85" barColor="4CAF50" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
        <h5><span class="badge green">React JS</span></h5>
      </div>
      <div class="col">
        <mdb-simple-chart percent="80" barColor="536dfe" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
        <h5>
          <mdb-badge color="indigo accent-2">Java</mdb-badge>
        </h5>
      </div>
      <div class="col">
        <mdb-simple-chart percent="87" barColor="a1887f" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
        <h5>
          <mdb-badge color="brown lighten-2">OOPS</mdb-badge>
        </h5>
      </div>
      <div class="col">
        <mdb-simple-chart percent="85" barColor="4db6ac" [animate]="{duration: 1000, enabled: true}"></mdb-simple-chart>
        <h5>
          <mdb-badge color="teal lighten-2">Database</mdb-badge>
        </h5>
      </div>

    </div>
  </div>
</div>
<!--/.Author box-->