<!-- Projects section v.3 -->
<section class="my-5 container">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Algolia Search</h2>
  <!-- Section description -->
  <p class="grey-text lead text-center w-responsive mx-auto mb-5">Angular based app that is based on Algolia for the restaurant dataset.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5 view overlay zoom">
      <!--Image-->
      <img loading="lazy" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1667180517/portfolio/Screen-Shot-2022-10-18-at-8.30.20-PM_qn9i0h.webp" alt="Algolia project image" class="img-fluid rounded z-depth-1">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="book" size="2x" class="cyan-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">General</h5>
          <p>This project uses Algolia based Angular components to search through the Restaurants. The app has the ability to add or delete a restaurant. It can sort the list based on Star Rating and cuisines.
          </p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Technology</h5>
          <p>It uses Angular, Angular Material, SCSS, Algolia and Typescript. It is deployed using Vercel.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">
        <div class="col-md-1 col-2">
          <mdb-icon fab icon="algolia" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Algolia</h5>
          <p class="mb-0">Algolia enables fast searches on datasets that are uploaded on their platform. It then exposes certain components and APIs to interact with the dataset. It was a pretty cool experience building this app.
          </p>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="database" size="2x" class="orange-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">CDN</h5>
          <p>The CDN integration enables the users to upload their restaurants image to the dataset, which they can then search for.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="star" size="2x" class="yellow-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Features</h5>
          <p>The stars are dynamic and are based on the rating of the restaurant. The CSS transitions, hover effects, sticky left panel and sticky search box enhances the user experience.</p>
        </div>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-lg-0 mb-5">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="link" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Links</h5>

          <p class="mb-0"><a href="https://algolia-search-alpha.vercel.app" target="blank">App Link</a><br><a href="https://github.com/Jerska/front-end-test/blob/master/dataset/restaurants.json" target="blank">Dataset</a><br><a href="https://github.com/SalmanMujtaba/Algolia-Search"
              target="blank">Source
              Code</a>
          </p>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5 view overlay zoom">
      <!--Image-->
      <img loading="lazy" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1667180517/portfolio/Screen-Shot-2022-10-18-at-8.30.29-PM_zitwfv.webp" alt="Aloglia project image" class="img-fluid rounded z-depth-1">
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Projects section v.3 -->