<!--Section: Features v.3-->
<section class="container">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">Tic-Tac-Toe</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">A simple Tic-Tac-Toe game based on Angular, HTML and SCSS.</p>

  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 view overlay zoom text-lg-left">
      <img loading="lazy" src="https://sat02pap002files.storage.live.com/y4maxPfx-Lg5yPIoCH7yBcyv5z9aVPJAGKJ9qIg6r_QcDeMoZEVGVQyy8wTun_-mo2MfOsuDc_MEOJviUo2D3Vt31jdR3h-B01JG-xBSvS9fXPYxfV8A25a6bE2BTcgmsaoKwMECkaBEuienMPKnCVU5WJY2713lFgDJ-GTvf7aQx-TsFzgiD4A044ua6sIQEss?width=2156&height=1570&cropmode=none"
        alt="tic-tac-toe game" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fab size="3x" class="orange-text" icon="html5"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">HTML</h5>
          <p class="text-left">The project helped to understand the 2D matrix by creating this familiar Tic-Tac-Toe game. The UI is responsive and built using SCSS and HTML.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fab icon="angular" size="3x" class="red-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Angular</h5>
          <p class="text-left">This is an Angular based project where the result of the game is determined as the users play their turn. An overlay at the end displays the final result of the game.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon size="2x" fas icon="external-link-alt"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Links</h5>
          <p class="text-left">The has been deployed in Vercel and can be looked at from <a rel=”noreferrer” target="_blank" href="https://github.com/SalmanMujtaba/Tic-Tac-Toe">here</a>. <br><a rel=”noreferrer” target="_blank" href="https://github.com/SalmanMujtaba/Tic-Tac-Toe">Source code</a>.</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->