<!--Section: Blog v.4-->
<section class="my-5 container">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <mdb-card cascade="true" wider="true" reverse="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).webp" alt="Wide sample post image">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Post data-->
        <mdb-card-body cascade="true" class="text-center">
          <h2 class="lyft-color ">
            <a class="font-weight-bold">Lyft Form</a>
          </h2>
          <p>Based on actual Lyft Form.
          </p>

          <!--Social shares-->
          <div class="social-counters ">

            <!--Github-->
            <button type="button" mdbBtn color="git" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github left"></i>Github
            </button>

            <!--Vercel App-->
            <button mdbBtn type="button" color="info" outline="true" mdbWavesEffect>Visit App</button>

          </div>
          <!--Social shares-->
        </mdb-card-body>
        <!--Post data-->
      </mdb-card>

      <!--Excerpt-->
      <div class="excerpt mt-5">
        <p>The Lyft Form is based on Vanilla JS and CSS. It is a recreation of an actual Lyft form.
        </p>

        <ul>
          <li>Includes some Form validation and displays custom <span class="red-text">Error</span> message.</li>
          <li>Uses CSS variables.</li>
          <li>It's responsive.</li>
          <li>adad</li>
        </ul>
      </div>
    </div>
  </div>
  <!--Grid row-->


</section>
<!--Section: Blog v.4-->