<!--Section: Blog v.4-->
<section class="my-5 container">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <mdb-card cascade="true" wider="true" reverse="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://sat02pap002files.storage.live.com/y4mrHoRTsoOBW6sRWCgpar7QaazJBW-CTjT5NUXUU7Ahg7zUd0u1wHFhu2JsxJUxUYMgCXeTz-J6TINOPG-VsBLOaTWnYujHKoAoEvXJXIlusPeklDT-8eqOhuJdijErDm37O4abC_oDsg3Mi6yT79TSTd-IOhtXRS_u1J4iyVlGWmDaPQlZwFF-SVmDlpHHOb_?width=2652&height=1356&cropmode=none"
            alt="Wide sample post image">
          </mdb-card-img>
          <a href="https://someform.vercel.app/" target="_blank" rel="noreferrer" aria-label="Lyft Form app link">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Post data-->
        <mdb-card-body cascade="true" class="text-center">
          <h2>
            <a href="https://someform.vercel.app/" target="_blank" rel="noreferrer" aria-label="Lyft Form app link" class="font-weight-bold lyft-color">Lyft Form</a>
          </h2>
          <p class="p-3">Based on an actual Lyft Form.
          </p>

          <!--Social shares-->
          <div class="social-counters">
            <!--Github-->
            <button type="button" mdbBtn (click)="redirect.goToLyftSourceCode()" color="git" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github left"></i>Github
            </button>

            <!--Vercel App-->
            <button mdbBtn type="button" color="info" outline="true" (click)="redirect.goToLyftForm()" mdbWavesEffect>Visit App</button>
            <ul class="list-group list-group-flush pt-3">
              <li class="list-group-item">Built with Vanilla JS and CSS.</li>
              <!-- <li class="list-group-item"><a href="https://github.com/SalmanMujtaba/Lyft" target="_blank" aria-label="Lyft Github Source Code" rel="noreferrer">Source Code</a></li> -->
              <li class="list-group-item">Implements custom Form validation.</li>
              <li class="list-group-item">Deployed in Vercel.</li>
              <li class="list-group-item">It's responsive.</li>
              <li class="list-group-item">Implements custom <span class="red-text">Error</span> message.</li>
            </ul>
          </div>
          <!--Social shares-->
        </mdb-card-body>
        <!--Post data-->
      </mdb-card>

      <!--Excerpt-->
      <!-- <div class="excerpt mt-5">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Built with Vanilla JS and CSS.</li>

          <li class="list-group-item">Custom Form validation.</li>
          <li class="list-group-item">Deployed in Vercel.</li>
          <li class="list-group-item">It's responsive.</li>
          <li class="list-group-item">Custom <span class="red-text">Error</span> message.</li>
        </ul>
      </div> -->
    </div>
  </div>
  <!--Grid row-->


</section>
<!--Section: Blog v.4-->