<div class="skin margin-top-7rem" id="contact">
  <section class="pb-5 container" data-wow-delay="0.3s">

    <!--Section heading-->
    <h2 class="h1 pt-4 text-center mb-5">Contact</h2>
    <div class="row">


      <!--Grid column-->
      <div class="col-lg-5" [ngClass]="{'my-4': !showProgressBar}">

        <!--Form with header-->
        <mdb-card [ngClass]="{'progress-bar-margin': showProgressBar}">
          <mdb-card-body [ngClass]="{'h-400 unique-color': showProgressBar}">
            <div *ngIf="showProgressBar" class="h-100">
              <div class="el-base">
                <div class="el-inner-space">
                  <div class="el-flap"></div>
                </div>
                <p *ngIf="entryText" class="white-text text-center wow fadeInUp">Sending Email</p>
                <p *ngIf="exitText" class="white-text text-center wow fadeInUp">Email Sent</p>

              </div>
              <!-- <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
              </mdb-progress-bar> -->
            </div>

            <div *ngIf="!showProgressBar">

              <!--Header-->
              <div class="form-header blue accent-1">
                <h3>
                  <mdb-icon fas icon="envelope"></mdb-icon><span>
                    Send a message!
                  </span>
                </h3>
              </div>


              <form [formGroup]="FormData" method="POST" (ngSubmit)="sendEmail($event)">
                <!--Body-->
                <div class="md-form">
                  <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                  <input mdbInput mdbValidate formControlName="name" name="user_name" type="text" id="form3"
                    class="form-control">
                  <label for="form3">Your name</label>
                  <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Please enter a name
                  </mdb-error>
                </div>

                <div class="md-form">
                  <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                  <input mdbInput mdbValidate formControlName="email" name="user_email" type="text" id="form2"
                    class="form-control">
                  <label for="form2">Your email</label>
                  <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email.
                  </mdb-error>
                </div>

                <div class="md-form">
                  <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
                  <textarea mdbInput mdbValidate formControlName="message" name="message" type="text" id="form8"
                    class="md-textarea"></textarea>
                  <label for="form8">Message</label>
                  <mdb-error class="s-margin-bottom" *ngIf="message.invalid && (message.dirty || message.touched)">
                    Please enter a message between 3-300 characters.
                  </mdb-error>

                </div>

                <div class="text-center">
                  <button [disabled]="FormData.invalid" mdbBtn color="blue" class="waves-light"
                    mdbWavesEffect>Submit</button>
                </div>
              </form>


            </div>

          </mdb-card-body>

        </mdb-card>
        <!--Form with header-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">

        <!--Google map-->
        <google-map [center]="center" width="100%" height="400px" class="z-depth-1-half map-container">
          <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
          </map-marker>
        </google-map>

        <br>
        <!--Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a mdbBtn floating="true" color="blue" class="accent-1 waves-light" mdbWavesEffect>
              <mdb-icon fas icon="map-marked"></mdb-icon>
            </a>
            <p>Toronto</p>
            <p>Canada</p>
          </div>

          <div class="col-md-4">
            <a mdbBtn floating="true" color="blue" class="accent-1 waves-light" mdbWavesEffect>
              <mdb-icon fas icon="phone"></mdb-icon>
            </a>
            <p>+1 416 882 5780</p>
            <p>Mon - Fri, 8:00-22:00</p>
          </div>

          <div class="col-md-4">
            <a mdbBtn floating="true" color="blue" class="accent-1 waves-light" mdbWavesEffect>
              <mdb-icon fas icon="envelope"></mdb-icon>
            </a>
            <p>salman.mujtaba@yahoo.com</p>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>

  </section>
</div>
<!--Section: Contact v.1-->

<!--Section: Contact v.1-->