<!--Section: Features v.4-->
<section class="container">

  <!--Section heading-->
  <h2 class="h1 py-5 text-center">Node Based Chat App</h2>

  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">
    The chat app is based on Node’s Socket.io which enables
    real-time bidirectional event-based communication.
    It allows Users to chat with friends and even share their location via the app.
    Check out the app via this <a href="https://glacial-sierra-66119.herokuapp.com/">link</a>.
  </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Features</h5>
          <p>
            The app enables a User to send or receive messages instantly. It uses Node’s Socket.IO, which allows the
            user to subscribe (join) to a chat room. All the online users of the chat room could be seen in the
            sidebar. Socket methods such as socket.on, socket.emit and io.emit, along with callbacks, facilitates in
            message exchange. The user can also send their location to the chat room.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="github" size="2x"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">GitHub Link</h5>
          <p>
            Check out the <a href="https://github.com/SalmanMujtaba/Node-Chat-App" target="_blank">source</a> code!
            Also you can visit the app directly
            from <a href="https://glacial-sierra-66119.herokuapp.com/">here</a>.
          </p>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <figure class="figure">
        <img src="/assets/images/nodechat2.webp" class="figure-img img-fluid z-depth-2" alt="...">
        <figcaption class="figure-caption">Chat App after the User logs in</figcaption>
      </figure>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="cogs" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Configuration</h5>
          <p>
            Node packages used: Express, Moment, Nodemon and Socket.IO.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="css3" size="2x" class="cyan-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Styling</h5>
          <p>
            Styled the app using Bootstrap.
            User scroll is tracked so that new messages are displayed to the user effectively.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="code" size="2x" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Code</h5>
          <p>
            This app is synthesized using vanilla javascript, jQuery, HTML, CSS and bootstrap.
            Wrote several unit test cases using Mocha framework. Some front end stuff is crafted using Handlebars.
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->