<!--Section: Features v.1-->
<section class="text-center container">

  <!--Section heading-->
  <h2 class="h1 py-5">Recipe Ingredient Angular App</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text"> The Recipe-Ingredient, Angular 5 based app is used to manage Recipes and
    Ingredients pertaining a User’s account.
    The user is authenticated using Firebase. </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="bolt" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Features</h5>
      <p> It enables a user to register and then log in to their account,
        where they are able to add or modify Recipes, push the ingredients to
        a shopping list and modify the shopping list. The user data is persisted after
        logging out. All the data is stored in Firebase. In addition to the under the hood features, I
        utilized Angular 5s feature new form validation and Routing techniques.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="code" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Technology</h5>
      <p> The app is based on Typescripts where the UI
        is based on Google’s Material Design. Certain features
        were added later on after the introduction of Angular 5. Several components were
        created which communicated in various ways. Extensively used Event Emitters,
        Property Binding,
        Decorators, Pipes, Dependency Injections, Directives and Observables.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2">
      <mdb-icon fas icon="cogs" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Configuration</h5>
      <p> Firebase was setup to enable communication with the database.
        As part of the future scope, I'll implement Redux and host the application.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2">
      <mdb-icon fab icon="github" size="3x"></mdb-icon>
      <h5 class="font-weight-bold my-4">GitHub Link</h5>
      <p> Please check out the <a rel="noopener" href="https://github.com/SalmanMujtaba/Recipe-Single-Page-App"
          target="_blank">source</a> code!
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->