<!--Section: Products v.5-->
<section class="section text-center container wow animate__fadeInUp animate__animated" data-wow-delay="0.3s" id="projects">
  <!--Section heading-->
  <h2 class="h1 py-5">Project Overview</h2>
  <!--Section description-->
  <p class="section-description mb-0">
    Below is some of my best work that I have done till now.</p>
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [animation]="'slide'" [type]="'carousel-multi-item'">
    <!-- Pre First slide-->
    <mdb-slide>
      <div class="col-md-4">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/alo.webp"
              alt="Algolia"></mdb-card-img>
            <a href="https://algolia-search-alpha.vercel.app" aria-label="Navigate to the Algolia App" target="_blank" rel="noreferrer">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="https://algolia-search-alpha.vercel.app" aria-label="Navigate to the Algolia App" target="_blank" rel="noreferrer" class="text-muted">
              <h5>Angular</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Algolia Search </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Search restautant data hosted on Algolia in Angular to create a search based application.
            </mdb-card-text>

            <!--Card footer-->
            <div class="card-footer">
              <a href="#algolia" rel="noreferrer" mdbPageScroll [pageScrollOffset]="150" [pageScrollDuration]="500">
                <button class="text-center" mdbBtn color="git" type="button" gradient="blue" size="sm" rounded="true" mdbWavesEffect>View
                  More
                </button>
                <a type="button" target="_blank" rel="noreferrer" href="https://github.com/SalmanMujtaba/Algolia-Search" mdbTooltip="Navigate to Github" placement="bottom" class="icons-sm mr-8 git-ic">
                  <mdb-icon class="grow" fab icon="github"></mdb-icon>
                </a>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/Tableau.webp"
              alt="tableu"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Search</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Other Search Related Projects</strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              GitHub API and Album search are different search based projects based on corresponding APIs.
            </mdb-card-text>

            <!--Card footer-->
            <div class="card-footer">
              <a href="#search" rel="noreferrer" mdbPageScroll [pageScrollDuration]="1000"><button class="text-center"
                  mdbBtn color="git" type="button" gradient="blue" size="sm" rounded="true" mdbWavesEffect>View
                  More</button>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/tictactoe.webp"
              alt="tableu"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Angular</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Tic-Tac-Toe</strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              The familiar Tic-Tac-Toe game.
            </mdb-card-text>

            <!--Card footer-->
            <div class="card-footer">
              <a href="#tictactoe" rel="noreferrer" mdbPageScroll [pageScrollDuration]="1500">
                <button class="text-center" mdbBtn color="git" type="button" gradient="blue" size="sm" rounded="true" mdbWavesEffect>View More</button>
                <a type="button" target="_blank" rel="noreferrer" href="https://github.com/SalmanMujtaba/Tic-Tac-Toe" mdbTooltip="Navigate to Github" placement="bottom" class="icons-sm mr-8 git-ic">
                  <mdb-icon class="grow" fab icon="github"></mdb-icon>
                </a>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>
    </mdb-slide>
    <!--/ Pre First slide-->
    <!--First slide-->
    <mdb-slide>
      <div class="col-md-4">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/GraphQL.webp" alt="graph ql"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>GraphQL</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Lyrics App </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              React JS based Single Page Application which uses GraphQL to manage Lyrics of a Song.
            </mdb-card-text>

            <!--Card footer-->
            <div class="card-footer">
              <a (click)="goToLyricsApp()"><button claas="text-center" mdbBtn color="git" type="button" gradient="blue"
                  size="sm" rounded="true" mdbWavesEffect>View on GitHub</button>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/Tableau.webp" alt="tableu"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Tableau</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Tableu Dashboard </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Do check out my Tableau Dashboards on Non-Immigrant Visas (H1B) and Motor-Vehicle crashes in NYC from 2012-2014.
            </mdb-card-text>

            <!--Card footer-->
            <div class="card-footer">
              <button (click)="goTotableau()" claas="text-center" mdbBtn type="button" gradient="blue" size="sm" rounded="true" mdbWavesEffect>Visit Here</button>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/admin-2.webp" alt="picklebbook"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Picklebook</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  A court booking system </strong>
              </h4>
            </mdb-card-title>

            <!--Description-->
            <mdb-card-text>
              Helps people sign up for courts!
            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a href="#picklebook" mdbPageScroll [pageScrollOffset]="200" [pageScrollSpeed]="2500"><button claas="text-center" mdbBtn
                  type="button" color="git" gradient="blue" size="sm" rounded="true" mdbWavesEffect>View More</button> <a
                  type="button" (click)="goToPicklebook()" placement="bottom" class="icons-sm mr-8 git-ic">
                </a>
              </a>
            </div>

          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="col-md-4">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/react.webp" alt="react js"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>React JS</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Expense App </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              React JS base SPA which allows a User to add or modify their expense. Authentication and Data Persistence is provided by Firebase.
            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a (click)="goToExpenseApp()"><button claas="text-center" mdbBtn color="git" type="button" gradient="blue"
                  size="sm" rounded="true" mdbWavesEffect>View on GitHub</button>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/angular.webp" alt="angular"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Angular</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Contact Form </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Serverless Contact from, based on Firebase’s Cloud Functions, Storage, and Angular 5. Form validations and Toasts are also provided.
            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a (click)="goToAngularApp()"><button claas="text-center" mdbBtn color="git" type="button" gradient="blue"
                  size="sm" rounded="true" mdbWavesEffect>View on GitHub</button>
              </a>
            </div>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/recipe.webp" alt="recipe “app"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class=" mask waves-effect waves-light">
              </div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Angular</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Recipe Ingredient </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Angular SPA in which a User can manage Recipes and Ingredients. The app uses Angular’s Routing and HttpClient effectively.

            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a (click)="goToRecipeIngredientApp()"><button claas="text-center" mdbBtn color="git" type="button"
                  gradient="blue" size="sm" rounded="true" mdbWavesEffect>View on GitHub</button>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>
    </mdb-slide>
    <!--Third slide-->
    <mdb-slide>
      <div class="col-md-4">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/nodechat1.webp" alt="node chat app"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Node JS</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Node Chat App</strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Node Chat Application based on Socket.IO. Access <a href="https://glacial-sierra-66119.herokuapp.com/">here.</a>



            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a href="#chat" mdbPageScroll [pageScrollOffset]="100" [pageScrollSpeed]="2500"><button
                  claas="text-center" mdbBtn type="button" color="git" gradient="blue" size="sm" rounded="true"
                  mdbWavesEffect>View More</button> <a type="button" (click)="goToChatApp()"
                  mdbTooltip="Navigate to Github" placement="bottom" class="icons-sm mr-8 git-ic">
                  <mdb-icon class="grow" fab icon="github"></mdb-icon>
                </a>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/Spark.webp" alt="apache spark"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Apache Spark</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Job Tweet Analysis</strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Analyzed and filtered tweets using Spark Streaming and Kafka. Consequently, stored the data MongoDB’s collections.
            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a (click)="goToSparkApp()"><button claas="text-center" mdbBtn type="button" color="git" gradient="blue"
                  size="sm" rounded="true" mdbWavesEffect>View on GitHub</button>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">

        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="/assets/images/android_logo.webp" alt="apache spark"></mdb-card-img>
            <a href="JavaScript:Void(0);">
              <div class=" mask waves-effect waves-light">
              </div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="JavaScript:Void(0);" class="text-muted">
              <h5>Android</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title my-4">
                <strong>
                  Trip Manager</strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>
              Manage trips and nearby places and view them on Google Map. Implemented Parent-Child relationship in Recycler View.
            </mdb-card-text>
            <!--Card footer-->
            <div class="card-footer">
              <a (click)="goToAndroidApp()"><button claas="text-center" mdbBtn type="button" color="git" gradient="blue"
                  size="sm" rounded="true" mdbWavesEffect>View on GitHub</button>
              </a>
            </div>
          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</section>
<!--Section: Products v.5-->
<!--</div>-->
<hr class="container">
<div id="picklebook" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-picklebook></div>
<div id="algolia" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-algolia></div>
<div id="search" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-search-based></div>
<div id="lyft" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-lyft-form></div>
<div id="tictactoe" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-tic-tac-toe></div>
<!-- <div id="recipe" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-recipeingredient></div>
<div id="spark" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-sparkstreaming></div>
<!-- <div id="chat" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-node-chat-app></div> -->
<!-- <div id="graph" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-lyrics></div>
<div id="expense" class="wow animate__fadeInUp animate__animated" data-wow-delay="0.2s" app-expensify></div> -->