<!--Section: Features v.4-->
<section class="container">

  <!--Section heading-->
  <h2 class="h1 py-5 text-center">Expensify App</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">
    The is a Single Page Application, based on React JS, where a user can keep a
    track of their expense. It makes use of
    Firebase and Redux to maintain the data of the user, which persists after the user logs out.
  </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Features</h5>
          <p>
            It’s a Single Page Application which leverages Reacts Routing.
            Only authenticated users are allowed to use the app.
            Reduxs’ components: Actions, Selectors and Reducers along
            with Firebase facilitates user’s data management.
            Incorporated airbnb react routing to act as a Date Picker for Expenses.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="code" size="2x" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Code</h5>
          <p>
            The App uses JSX and ES 6 features extensively.
            Some of the ES 6 features used are: Object Structing/Destructuring,
            Arrow functions, Spread Operator etc.
          </p>
        </div>
      </div>
      <!--Grid row-->
      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="github" size="2x"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">GitHub Link</h5>
          Check out the <a rel="noopener" href="https://github.com/SalmanMujtaba/React-Expensify-App" target="_blank">source</a> code!
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img src="/assets/images/react.webp" alt="react image" class="z-depth-0 image-properties">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="cogs" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Configuration</h5>
          <p>
            Configured Webpack to support SCSS files etc.
            Optimized the project files for production level.
            Used <a href="https://github.com/airbnb/react-dates">react-dates</a> for selecting dates.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="database" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Back-End</h5>
          <p>
            Asynchronous calls to the Firebase’s database using Redux modifies the user’s data.
            Firebase also expedites user authentication.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="css3" size="2x" class="cyan-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Styling</h5>
          <p>
            The app is styled using SCSS which is a great way to write modular CSS.
            I used the naming convention as prescribed in BEM: Block Element Modifier.
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->