<!--Section: Features v.4-->
<section class="container">

  <!--Section heading-->
  <h2 class="h1 py-5 text-center">Trip Manager</h2>

  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead text-center grey-text"> This app enables the user to manage their trips. The User can not only add a Trip, but he/she can add nearby places to the trip. Moreover, one can view all the selected places on a Google Map. The data persists even after the user closes the app.</p>

  <!--Grid row-->
  <div class="row features-small">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Features</h5>
          <p>
            Trip Manager enables a User to add Trips to their account. The app provides suggestion to the User when he/she types a place to search. The app also permits the user to add nearby places to the previously added place. Google Map integration entitles the
            user to view all the added places of a Trip on a Map containing markers.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="code" size="2x" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Code</h5>
          <p>
            The idiosyncrasy of this app is the Parent-Child relationship in a single Recycler View. A REST API is hit to implement the autocomplete functionality. Another API call fetches the nearby places of the previously selected selected place. Yet another API
            call fetches the data for getting the coordinates of all the selected locations, to view them on a Map.
          </p>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img loading="lazy" src="/assets/images/trip.webp" alt="" class="z-depth-0 image-properties">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="cogs" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Libraries</h5>
          <p>
            Picasso, okhttp, Firebase related libraries,
            <a href="https://bignerdranch.github.io/expandable-recycler-view/">
              Expandable Recycler View.
            </a>
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="database" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold">Back-End</h5>
          <p>
            Firebase’s Real-Time database stores the Trips. All the database calls are asynchronous. Local Lists are maintained in order to eliminate the delays during database updating.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="css3" size="2x" class="cyan-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold">Styling</h5>
          <p>
            The front-end is XML based. All the images are minified to improve the performance.
          </p>
        </div>
      </div>
      <!--Grid row-->
      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="github" size="2x"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold">GitHub Link</h5>
          <p>
            Check out the <a rel="noopener" href="https://github.com/SalmanMujtaba/Android/tree/master/FinalTerm" target="_blank">source</a> code of all of my Android Apps!
          </p>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->