<!--Section: Features v.1-->
<section class="text-center my-5 container">

  <!--Section heading-->
  <h2 class="h1 py-5">GitHub Repository Search</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text"> The app enables the users to search for the Jvascript GitHub repositories,
    and their corresponding recent commits.</p>
  <mdb-carousel class="carousel slide carousel-fade container" [animation]="'fade'">
    <mdb-carousel-item>
      <video #videoPlayer class="video-fluid" controls autoplay loop muted>
        <source src="/assets/movie.mp4" type="video/mp4" />
      </video>
    </mdb-carousel-item>
  </mdb-carousel>
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-3">
      <mdb-icon fas icon="bolt" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Features</h5>
      <p> The user can search for JS repositories present in the GitHub. The application also shows commits of the last
        30 days of corresponding repository. A simple form vaildation is in place. It can be viewed from <a
          href="https://salmanmujtaba.github.io/github-api-angular/" target="_blank">here</a>. The error dialog shows an
        intuitive error in
        case of any API failure.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3">
      <mdb-icon fas icon="code" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Technology</h5>
      <p> The app is built using Angular, and Google’s Material Design. It makes use of the <strong>Neomorphic</strong>
        design pattern for styling. The GitHub APIs along with the token is used to fetch the data.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3">
      <mdb-icon fas icon="cogs" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Configuration</h5>
      <p> Created a GitHub token to fetch the data. The app fetches data from
        the APIs provided by GitHub. More info about the APIs could be found <a
          href="https://docs.github.com/en/rest/reference/search">here</a>
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2">
      <mdb-icon fab icon="github" size="3x"></mdb-icon>
      <h5 class="font-weight-bold my-4">GitHub Link</h5>
      <p> Please check out the <a href="https://github.com/SalmanMujtaba/github-api-angular" target="_blank">source</a>
        code!
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->