  .override-container {
    @media (max-width: 992px) {
      max-width: 100%;
    }

  }

  .carousel-caption {
    @media (max-width: 767px) {
      bottom: 0;
      padding-bottom: 0;

      p {
        margin-bottom: 0
      }
    }
  }
