<section class="container override-container text-center" data-wow-delay="0.3s" id="stories">
  <h2 class="h1 py-5 font-weight-bold">My Life In Pictures</h2>
  <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696740/portfolio/h91qnyztqtcxojghgfi5.webp" alt="farewell">
        <div class="mask rgba-black-sligjht waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Farewell</h3>
        <p>2021</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696744/portfolio/z3ueane8xvve2wbsq8sb.webp" alt="farewell">
        <div class="mask rgba-black-sligjht waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">My Family away from home</h3>
        <p>Feb 2021</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696737/portfolio/ally_rfk31a.webp" alt="Ally slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Team at Ally </h3>
        <p>2018</p>

      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696723/portfolio/fis_j35437.webp" alt="FIS slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Team at FIS 2021</h3>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="/assets/images/raja.webp" alt="raja slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Brother from another mother</h3>
        <p>Feb 2021</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696733/portfolio/party_nxwhbu.webp" alt="Fourth slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">A get together with the Team after the Match</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696746/portfolio/cjerhortvbho5rxur3dh.webp" alt="cricket fifth slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">When hard work pays off!</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="/assets/images/t20champions.webp" alt="t20 champions sizth slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">T20 champions</h3>
        <p>2020</p>

      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img loading="lazy" class="d-block w-100" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1110/v1643696722/portfolio/lzyqimyohxyk2qsrsicj.webp" alt="3ca seventh slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Corporate League Champions</h3>
        <p>2020</p>

      </div>
    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
      <video class="video-fluid" autoplay loop muted>
        <source src="assets/video/winning_moment.mp4" type="video/mp4" />
      </video>
    </mdb-carousel-item> -->
  </mdb-carousel>
</section>