<section class="container override-container text-center wow fadeInLeft" data-wow-delay="0.3s" id="stories">
  <h2 class="h1 py-5 font-weight-bold">My Life In Pictures</h2>
  <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/farewell.jpg" alt="farewell">
        <div class="mask rgba-black-sligjht waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Farewell</h3>
        <p>2021</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/ally.jpg" alt="Ally slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Team at Ally </h3>
        <p>2018</p>

      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/fis.jpeg" alt="FIS slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Team at FIS 2021</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/party.jpg" alt="Fourth slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">A get together with the Team after the Match</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/cricket.jpg" alt="cricket fifth slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">When hard work pays off!</h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/t20champions.jpeg" alt="t20 champions sizth slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">T20 champions</h3>
        <p>2020</p>

      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/images/3ca.jpeg" alt="3ca seventh slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Corporate League Champions</h3>
        <p>2020</p>

      </div>
    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
      <video class="video-fluid" autoplay loop muted>
        <source src="assets/video/winning_moment.mp4" type="video/mp4" />
      </video>
    </mdb-carousel-item> -->
  </mdb-carousel>
</section>