<app-header></app-header>
<app-about-me></app-about-me>
<app-projects></app-projects>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" (mouseleave)="fixed.toggle()">

  <a mdbBtn floating="true" size="lg" color="red" class="waves-light" mdbWavesEffect (mouseenter)="fixed.toggle()">
    <mdb-icon fas icon="plus-circle"></mdb-icon>
  </a>

  <div class="fixed_collapse" mdbCollapse="isCollapsed" #fixed="bs-collapse">
    <!-- Github -->
    <a mdbBtn (click)="goToGitHub()" color="git" floating="true" color="black" size="sm" class="waves-light"
      mdbWavesEffect>
      <mdb-icon fab icon="github"></mdb-icon>
    </a>
    <!-- LinkedIn -->
    <a (click)="goToLinkedIn()" mdbBtn floating="true" color="blue" size="sm" class="waves-light" mdbWavesEffect>
      <mdb-icon fab icon="linkedin-in"></mdb-icon>
    </a>
    <!-- Facebook -->
    <a type="button" (click)="goToFacebook()" mdbBtn floating="true" size="sm" color="fb" class="waves-light"
      mdbWavesEffect>
      <mdb-icon fab icon="facebook-f"></mdb-icon>
    </a>

    <!-- Top -->
    <a type="button" href="#top-section" mdbBtn floating="true" size="sm" color="gplus" class="waves-light"
      mdbWavesEffect mdbPageScroll [pageScrollDuration]="500">
      <mdb-icon fas icon="arrow-up"></mdb-icon>
    </a>

  </div>

</div>
<app-stories></app-stories>
<app-contact-form></app-contact-form>
<app-footer></app-footer>