<div class="interest-bg-image">
  <section class="container my-5 text-center wow animate__fadeInUp animate__animated text-light" data-wow-delay="0.2s" id="interest">
    <h2 class="h1 pt-4 text-center mb-5">Areas of Interest</h2>

    <div class="interest">
      <div>
        <app-icon [name]="javascript"></app-icon>
        <h4>Javascript</h4>
        <p>
          I can never say that I know Javascript because, now and then, something comes up which amazes me. I have worked on Angular and React-based projects at the industry and personal levels. I try to create simple widgets in JS now and keep coming back to the
          core concepts of JS.
        </p>
      </div>

      <div>
        <app-icon [name]="angular"></app-icon>
        <h4>Angular</h4>
        <p>
          I started working on Angular JS in 2018 and worked on all the versions of Angular 2+. I have created libraries, front-end microservices, style-heavy UI, and complex forms. I would say Angular is my go-to JS framework.
        </p>
      </div>

      <div>
        <app-icon [name]="react"></app-icon>

        <h4 className="react-color">React</h4>
        <p>
          The ease of use, lightweight, and open source community influenced me to learn React. Most of my projects on React are personal. Since I know both Angular and React, it gives me some interesting perspectives whenever I am trying to solve a problem. Given
          the opportunity, I am confident that I would be able to write production level code in React.
        </p>
      </div>

      <div>
        <app-icon [name]="css"></app-icon>
        <h4>CSS</h4>
        <p>
          I ❤️ working with CSS. I keep coming back to vanilla CSS for the shear joy of using it that way. I have worked on Angular Material, SCSS, Styled Components, and Tachyons. Meet my
          <a href="https://www.youtube.com/kepowob" target="_blank" rel="noreferrer">
            favourite youtuber
          </a> for CSS.
        </p>
      </div>

      <div>
        <app-icon [name]="nest"></app-icon>
        <h4>Nest JS</h4>
        <p>
          I am currently working on a Nx based monorepo with the backend based on Nest JS. I have also completed the official Nest JS course. Nest JS allows seamless integration with Angular, GraphQL, Swagger API, etc.
        </p>
      </div>

      <div>
        <app-icon [name]="database"></app-icon>
        <h4>Database</h4>
        <p>
          I have extensively worked on relational and non-relational databases. Currently, I am actively working with Mongo DB. I am comfortable setting up different databases from scratch.
        </p>
      </div>

      <div>
        <app-icon [name]="node"></app-icon>
        <h4>Node</h4>
        <p>
          I have worked on Node since 2017. It is also my preferred backend for projects. I am working on Nest JS and Next JS frameworks these days.
        </p>
      </div>

      <div>
        <app-icon [name]="html"></app-icon>

        <h4>HTML</h4>
        <p>
          I'd say I have advanced knowledge of HTML. I try to maintain the correct structure for the HTML which is accessible at the end of the day.
        </p>
      </div>

    </div>
  </section>
</div>