.interest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 20px;
  padding-inline: 0.625rem;
  padding-block-end: 0.9375rem;
}

h4 {
  font-weight: 400;
  margin-top: 0.3125rem;
  margin-bottom: 1.25rem;
}

section {
  @media (min-width: 576px) {
    border-radius: 2rem;
  }
}