<!--Section: Features v.3-->
<section class="container">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">Angular-5 Contact Form</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">
    The Contact form as the name suggests is used to send an e-mail to the owner. The form, to an extent, is
    serverless, as it uses Firebase’s Cloud function to send the e-mail.
  </p>

  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 text-center text-lg-left">
      <figure class="figure">
        <img src="/assets/images/angularform.JPG" class="figure-img img-fluid z-depth-2" alt="angular form">
        <figcaption class="figure-caption">The Contact Form</figcaption>
      </figure>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="bolt" size="lg" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Features</h5>
          <p class="text-left">
            Uses Angular 5’s form validation techniques to validate the form.
            It is serverless in the sense that it does not require a server explicitly.
            Firebase’s Cloud Function and NodeMailer help in sending the email whenever
            data is added to the Firebases Real Time Database.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="code" size="lg" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
          <p class="text-left">
            Crafted the page using my favorite Google’s Material Design.
            Other quirks were realized using TypeScript. AngularFire2 library
            connects Angular to Firebase.

          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="database" size="lg" class="blue-text"></mdb-icon>

        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Back-End</h5>
          <p class="text-left">
            Firebase helps in creating Cloud Functions which act as a Trigger, therefore, whenever data is added to
            its database, the Cloud Function, with the help of Nodemailer sends the email to the owner. This, of
            course, happens asynchronously.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fab icon="github" color="git" size="lg"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">GitHub Link</h5>
          <p class="text-left">
            Check out the <a href="https://github.com/SalmanMujtaba/Angular-Email-App" target="_blank">source</a> code!
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->