<!--Section: Features v.4-->
<section class="container">

  <!--Section heading-->
  <h2 class="h1 py-5 text-center">Picklebook</h2>

  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead text-center grey-text">A comprehensive booking system for pickleball. Manage court
    bookings, player registrations, and session coordination across multiple groups.</p>

  <!--Grid row-->
  <div class="row features-small">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Features</h5>
          <p>
            Picklebook is a court booking system that helps users book courts or join the waitlist. It sends updates
            using Resend for important updates. Picklebook also allows the admin to manage private groups that determine
            the session visibility. Users can see the other session players.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="code" size="2x" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Code</h5>
          <p>
            The Picklebook app was built using Next.js with TypeScript and Tailwind CSS. It utilizes Firebase for
            authentication and Firestore for storing session data. The app follows a clean architecture and utilizes
            React Context API for state management.
          </p>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img loading="lazy" src="/assets/images/login-trip-nudge.webp" alt="" class="z-depth-0 image-properties">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="cogs" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold">Libraries</h5>
          <p>
            Picklebook uses various libraries including @radix-ui, Lucide React, React Icons, and Resend. The app also
            utilizes the Shadcn/ui library for UI components.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="database" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold">Back-End</h5>
          <p>
            Picklebook stores session data in Firebase's Firestore. The app utilizes Firebase Authentication for user
            authentication and management.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="link" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold">Links</h5>
          <ul class="list-unstyled">
            <li><a href="https://pickleballbooking.vercel.app" target="blank">App Link</a></li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->