<!--Section: Features v.1-->
<section class="text-center container">

  <!--Section heading-->
  <h2 class="h1 py-5">Spark Streaming: Twitter Job Analysis</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text"> This app is used for Real-Time processing of different Job Tweets.
    The Tweets are extracted,
    filtered and stored in MongoDB database’s relevant collections. </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="bolt" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Features</h5>
      <p> This app consolidates jobs related to specific industries and makes it easier
        for a user looking for a job in his/her domain. The job data is formatted into tables with columns for details
        regarding the job, such as the date, company, technology, link, etc.
        This also has the type of job, which specifies the industry it caters to.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <div></div>
      <mdb-icon fab icon="twitter" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Technology</h5>
      <p> This Twitter 4j library with the 4 secret keys enables ingestion
        of data in the form of RDDs, via Spark Streaming. Consumer-Producers,
        in Kafka, creates a Publisher-Subscriber architecture, preventing data loss.
        The data is filtered and stored in Collections of MongoDB.
        Java and Scala are the languages used.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2">
      <mdb-icon fas icon="cogs" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold my-4">Configuration</h5>
      <p> The project was configured using Maven.
        The important libraries used are Twitter4j, Spark Core, and Kafka Core.
        Linux Operating System is used for this application.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-2">
      <mdb-icon fab icon="github" color="git" size="3x"></mdb-icon>
      <h5 class="font-weight-bold my-4">GitHub Link</h5>
      <p> Please check out the <a rel="noopener" href="https://github.com/nitin2407/SparkStreaming-JobTweetsAnalysis"
          target="_blank">source</a> code!
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->