<section class="my-5 container">
  <h2 class="h1 py-5 font-weight-bold text-center">Search Based Projects
  </h2>
  <!--Section description-->
  <p class="px-5 mb-3 pb-3 lead grey-text text-center">The following projects are based on some sort of Search functionality as per different use cases.
  </p>
  <p class="text-center"> The Tech-Stack is similar in all the projects: SCSS, Angular, Angualar Material, Typescript, and Vercel. The data is fetched from different APIs, which are then displayed accordingly.
  </p>
  <div class="timeline-main">
    <!-- Timeline Wrapper -->
    <ul class="stepper stepper-vertical timeline timeline-images">
      <li>
        <!--Section Title -->
        <a target="_blank" rel="noreferrer" href="https://album-search.vercel.app/user/2/albums">
          <span class="circle cyan lighten-1">1</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img loading="lazy" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1300/v1667180517/portfolio/albumSecond_gsqbgy.webp" class="img-fluid" alt="Responsive image for Album Search project">
          <h4 class="font-weight-bold pl-4 pt-4 mb-0">Album search<span>
              <a target="_blank" rel="noreferrer" href="https://album-search.vercel.app/user/2/albums"
                class="ml-2 project-links" mdbTooltip="App Link" placement="bottom">
                <mdb-icon class="link-color" fas icon="external-link-alt"></mdb-icon>
              </a>
            </span></h4>
          <p class="text-muted pl-4 mb-0">
            Desktop View
          </p>
          <p class="mb-0 p-4">The user can view and filter Photos in the currently selected Album. The search filter highlights the suggested options if it matches at least 3 characters of the photo's title in the Album. The data for the project are fetched from <a class="project-links"
              href="https://jsonplaceholder.typicode.com/albums" target="_blank" rel="noreferrer">here</a>.<br><br> The images in the Photo Album can be clicked to open a full-screen preview. The app uses CSS grid to achieve a responsive design. The images
            are lazy loaded.
          </p>
        </div>
      </li>
      <li class="timeline-inverted">
        <!--Section Title -->
        <a target="_blank" rel="noreferrer" href="https://salmanmujtaba.github.io/github-api-angular">
          <span class="circle cyan lighten-1">2</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img loading="lazy" src="https://res.cloudinary.com/dsgnp9mgj/image/upload/c_scale,f_webp,w_1300/v1667180517/portfolio/gitsearch_sdk01l.webp" class="img-fluid" alt="Responsive image">
          <h4 class="font-weight-bold pl-4 pt-4 mb-0">GitHub Repsitory Search<span>
              <a target="_blank" rel="noreferrer" href="https://salmanmujtaba.github.io/github-api-angular"
                class="ml-2 project-links" mdbTooltip="App Link" placement="bottom">
                <mdb-icon class="link-color" fas icon="external-link-alt"></mdb-icon>
              </a>
            </span></h4>
          <p class="text-muted pl-4 mb-0">
            Desktop View
          </p>
          <p class="mb-0 p-4">The user can search for JS repositories present in the GitHub. The application also shows commits of the last 30 days of corresponding repository. A simple form vaildation is in place. The error dialog shows an intuitive error in case of any
            API failure.<br><br> It makes use of the Neomorphic design pattern for styling. The images are lazy loaded. The <a class="project-links" href="https://docs.github.com/en/rest/search" target="_blank" rel="noreferrer">GitHub APIs</a> along with
            the token is used to fetch the data. The app is deployed using Github Pages.
          </p>
        </div>
      </li>
      <li>
        <!--Section Title -->
        <a target="_blank" rel="noreferrer" href="https://salmanmujtaba.github.io/github-api-angular">
          <span class="circle cyan lighten-1">3</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img loading="lazy" src="../../../assets/images/gitsearchII.webp"
            class="img-fluid" alt="Github API Search">
          <h4 class="font-weight-bold pl-4 pt-4 mb-0">GitHub Repsitory Search Continued</h4>
          <p class="text-muted pl-4 mb-0">
            When the user clicks See recent commits! button
          </p>
          <p class="mb-0 p-4">The user can view the recent commits of the searched repositories by clicking on the "See recent commits" button. The expansion panel provides insight into the latest commits to the repository. Further, click on the "View Commit" link takes
            you to the actual commit. <br><a class="project-links" href="https://github.com/SalmanMujtaba/github-api-angular" target="_blank" rel="noreferrer">Source
              Code!</a></p>
        </div>
      </li>
    </ul>
    <!-- Timeline Wrapper -->
  </div>
</section>