<section class="container">
  <h2 class="h1 py-5 font-weight-bold text-center">Search Based Projects
  </h2>
  <!--Section description-->
  <p class="px-5 mb-3 pb-3 lead grey-text text-center">The following projects are based on some sort of Search functionality as per different use cases.
  </p>
  <p class="text-center"> The Tech-Stack is similar in all the projects: SCSS, Angular, Angualar Material, Typescript, and Vercel. The data is fetched from different APIs, which are then displayed accordingly.
  </p>
  <div class="timeline-main container">
    <!-- Timeline Wrapper -->
    <ul class="stepper stepper-vertical timeline timeline-images">
      <li>
        <!--Section Title -->
        <a href="#!">
          <span class="circle cyan lighten-1">1</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img src="https://sat02pap002files.storage.live.com/y4mhogymhuuaeD-L_X8e3U8xypM5umKtm92RJRW7r86Cuzb7_2TtvMCnXw7CQT60BuckJc78lUZY6-nc_4BjeEDHurDxzHt6LZG4XvujAVPiJhZNp5W42XK-LWC9Owk2Xy7XXblW_5v7AapoajU7jF4nxi7CDyVnQS-JhLTuQDBrqtgsHAaxwOgeq0e14BcYoYb?width=2394&height=1568&cropmode=none"
            class="img-fluid" alt="Responsive image">
          <h4 class="font-weight-bold pl-4 pt-4 mb-0">Album search<span>
              <a target="_blank" rel="noreferrer" href="https://album-search.vercel.app/user/2/albums"
                class="ml-2 project-links" mdbTooltip="Album Search Link" placement="bottom">
                <mdb-icon class="link-color" fas icon="external-link-alt"></mdb-icon>
              </a>
            </span></h4>
          <p class="text-muted pl-4 mb-0">
            Desktop View
          </p>
          <p class="mb-0 p-4">The user can view and filter Photos in the currently selected Album. The search filter highlights the suggested options if it matches at least 3 characters of the photo's title in the Album. The data for the project are fetched from <a class="project-links"
              href="https://jsonplaceholder.typicode.com/albums" target="_blank" rel="noreferrer">here</a>.<br><br> The images in the Photo Album can be clicked to open a full-screen preview. The app uses CSS grid to achieve a responsive design.

          </p>
        </div>
      </li>
      <li class="timeline-inverted">
        <!--Section Title -->
        <a href="#!">
          <span class="circle cyan lighten-1">2</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp" class="img-fluid" alt="Responsive image">
          <h4 class="font-weight-bold p-4 mb-0">Duis aute irure dolor</h4>
          <p class="text-muted px-4 mb-0">
            <mdb-icon far icon="clock" aria-hidden="true"></mdb-icon> 2016
          </p>
          <p class="mb-0 p-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
      </li>
      <li>
        <!--Section Title -->
        <a href="#!">
          <span class="circle cyan lighten-1">3</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(131).webp" class="img-fluid" alt="Responsive image">
          <h4 class="font-weight-bold p-4 mb-0">Sed ut nihil unde omnis</h4>
          <p class="text-muted px-4 mb-0">
            <mdb-icon far icon="clock" aria-hidden="true"></mdb-icon> 2015
          </p>
          <p class="mb-0 p-4">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
      </li>
      <li class="timeline-inverted">
        <!--Section Title -->
        <a href="#!">
          <span class="circle cyan lighten-1">4</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(125).webp" class="img-fluid" alt="Responsive image">
          <h4 class="font-weight-bold p-4 mb-0"> Quis autem vel eum voluptate</h4>
          <p class="text-muted px-4 mb-0">
            <mdb-icon far icon="clock" aria-hidden="true"></mdb-icon> 2014
          </p>
          <p class="mb-0 p-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
          </p>
        </div>
      </li>
      <li>
        <!--Section Title -->
        <a href="#!">
          <span class="circle cyan lighten-1">5</span>
        </a>
        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-0 hoverable">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).webp" class="img-fluid" alt="Responsive image">
          <h4 class="font-weight-bold p-4 mb-0">Mussum ipsum cacilds</h4>
          <p class="text-muted px-4 mb-0">
            <mdb-icon far icon="clock" aria-hidden="true"></mdb-icon> 2013
          </p>
          <p class="mb-0 p-4">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
            alias consequatur aut perferendis doloribus asperiores repellat.
          </p>
        </div>
      </li>
    </ul>
    <!-- Timeline Wrapper -->
  </div>
</section>