<!--Section: Features v.1-->
<section class="container text-center">  

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Lyrics App</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">
    The App is based on React JS and GraphQL. The user has the ability to add a Song, add a Lyrics to the song, delete a
    Song, delete a Lyrics and Like a Song. It is a Single Page Application which uses React-Routing for navigation..
  </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="music" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Features</h5>
      <p>
        GraphQL enables us to query the database by using a single REST endpoint.
        This application capitalizes on this feature to connect to MongoDB database,
        reducing the network bandwidth requirement. Apollo provider and Apollo Store
        makes React components compatible with GraphQL.
        Mutations and Query help to interact with the database.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="database" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Database</h5>
      <p>
        The database is hosted on mLab: MongoDB database.
        The app uses the Schema Definition Language to query or modify the database.
        In order to improve the performance of Like button,
        Caching mechanism is used to prevent calculating the same
        path in the graph again and again.
        Apollo Client aids in making the application data agnostic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fab icon="github" color="git" size="3x"></mdb-icon>
      <h5 class="font-weight-bold my-4">GitHub Link</h5>
      <p>Check out the <a href="https://github.com/SalmanMujtaba/React-Lyrics-App" target="_blank">source</a> code!</p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->