<!-- Section: Blog v.1 -->
<section class="container override-container text-center wow fadeInLeft" data-wow-delay="0.3s" id="yasha">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Meet my love, Yasha!</h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row align-items-center">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="/assets/images/yasha.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Post title -->
      <!-- Excerpt -->
      <p><strong>The ever so vivacious girl from New Delhi who knows how to make the most out of life. The most caring person in the world and of course the prettiest! I got engaged to her in March 2021 in a one-of-a-kind virtual engagement. I can't wait to spend the rest of my life with you. Cheers!</strong></p>
      <!-- Post data -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.1 -->