<!-- Section: Testimonials v.3 -->
<section class="team-section container text-center my-5 wow fadeInRight" data-wow-delay="0.3s">
  <!-- <section class="container override-container text-center wow fadeInLeft" data-wow-delay="0.3s" id="stories"> -->

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>
  <!-- Section description -->

  <!--Grid row-->
  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img loading="lazy" src="/assets/images/anji.webp" alt="Anji's Avatar" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Anji</h4>
        <h6 class="font-weight-bold blue-text my-3">Manager</h6>
        <p class="font-weight-normal dark-grey-text">
          <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>I have served as a Manager and Mentor to Salman Mujtaba, at FIS. He is an expert in working on Web Technologies and was part of the project Beb which involved creating 750 screens from end to end.
        </p>
        <!--Review-->
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img loading="lazy" src="/assets/images/atif.webp" alt="Ati's Avatar" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Atif Muhammad</h4>
        <h6 class="font-weight-bold blue-text my-3">Professor at UNCC</h6>
        <p class="font-weight-normal dark-grey-text">
          <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon> Salman has been an outstanding student in the class. I have taught him Data Warehouse in UNC Charlotte. He’s a fervent guy and interacts with everyone around him. Not just the technical skills, his oratory skills are also better
          than the rest.
        </p>
        <!--Review-->
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img loading="lazy" src="/assets/images/vishal.webp" alt="Vishal's Avatar" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Vishal</h4>
        <h6 class="font-weight-bold blue-text my-3">Lead Developer</h6>
        <p class="font-weight-normal dark-grey-text">
          <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>It was a pleasure to work with Salman on Sunbird and Beb. His ability to work either independently or in a team makes him a really versatile resource. He is not only a colleague but a friend outside the office.
        </p>
        <!--Review-->
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!-- Section: Testimonials v.3 -->